<%= form_for(@compiler) do |f| %>
    <div class="field">
        <p>Select ByteCode Format.</p>
    </div>


  <div class="field">
    <%= f.label 'select mruby source code.' %>
    <%= f.file_field :rb %>
  </div>
  <div class="field">
    <%= f.text_field :options, :placeholder => "options. ex -g" %>
  </div>
  <div class="actions">
    <%= f.submit "Download" %>
  </div>
<% end %>
